@charset "UTF-8";
/* Padding: Distancia entre el borde y el contenido//se le pone a las etiquetas p */
/* Margin: Distancia entre el borde y el afuera de la caja */
/* margin: UPpx; RIGHTpx; DOWNpx; LEFTpx; */
/* Padding: 4 coordenadas 0 0 0 0 // 16px */
/* box-sizing  */
/* VIERPORT WIDTH HEIGHT*/
/* VIERPORT WIDTH -> 100VW */
/* VIERPORT HEIGHT -> 100VH  */
/* INFORMACION QUE PODEMOS REUTILIZAR TAMAÑO, LETRAS, COLORES */
/* $color-secundario: ; */
/* $medidas__img--autos: ; */
/* INICIO */
.encabezado {
  display: flex;
  height: 50vh; }
  .encabezado__img {
    object-fit: cover;
    width: 50%; }
  .encabezado .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* space-between espacio entre los hijos// flex start hacia la izquierda(en el eje cross) */
    padding: 5rem;
    width: 50%; }

.boton {
  font-family: sans-serif;
  /* Tipo de letra */
  background-color: black;
  /* Fondo del boton */
  color: white;
  /* Letra del contenido del boton */
  padding: 9px 27px;
  /* Acomodo el padding si no el boton queda chico */
  border-radius: 8px;
  /* Le pongo el borde mas redondo */ }
  .boton:hover {
    background-image: linear-gradient(black, #131212);
    /* Para que cuando tenga el mouse arriba le haga como un brillo */
    transform: scale(1.03, 1.03);
    /* Forma de transformacion zoom hacia delante  */
    transition: all 0.5s;
    /* Tiempo de transicion */ }

.texto__destacado {
  font-family: sans-serif;
  /* Cambio la letra ya que tiene que ser llamativa */
  font-size: 40px;
  /* Para que las letras sean mas grandes y llamatavias */
  padding: 50px;
  /* Para que se separe del encabezado */
  background-color: #226fe2;
  margin-top: 10px;
  margin-bottom: 10px; }
  .texto__destacado:hover {
    transform: scale(1.03, 1.03);
    /* Forma de transformacion zoom hacia delante  */
    transition: all 0.5s;
    /* Tiempo de transicion */
    font-size: 50px;
    /* Para que las letras sean mas grandes y llamatavias */
    padding: 50px;
    /* Para que se separe del encabezado */
    background-color: #226fe2;
    margin-top: 8px;
    margin-bottom: 8px; }

.inicio__destacado {
  display: grid;
  /* Grid para poder separar en fracciones */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  /* Es el salto que da entre img y img */
  margin: 15px; }
  .inicio__destacado .destacado__promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
  .inicio__destacado div {
    object-fit: cover;
    width: 100%;
    height: auto; }

.main__img--promos {
  width: 350px;
  height: 150px; }

/* COMPRA TU AUTO */
.titulo__auto {
  background-color: #226fe2; }

.descrip__auto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 20px;
  gap: 10px; }
  .descrip__auto div {
    background-color: #226fe2;
    padding: 0.8rem; }
    .descrip__auto div h5 {
      text-align: center;
      font-size: 30px; }
  .descrip__auto span {
    display: block; }

.autos__venta--img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px; }

.img__auto {
  height: 400px;
  width: 700px;
  object-fit: cover; }

.autos__venta--vid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px; }
  .autos__venta--vid h5 {
    text-align: center;
    font-size: 30px; }

.video__auto {
  height: 400px;
  width: 700px;
  object-fit: cover; }

/* VENDE TU AUTO */
.vende {
  display: flex;
  margin: 1rem;
  height: 50vh; }
  .vende .info__venta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem; }

.titulo__destacado {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #226fe2; }

.img__muestra, .img__compra {
  width: 60%;
  object-fit: cover; }

.cotiza {
  display: flex;
  margin: 1rem;
  height: 50vh; }
  .cotiza .info__venta--beneficios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem; }
    .cotiza .info__venta--beneficios .listado {
      font-size: 20px; }
      .cotiza .info__venta--beneficios .listado li {
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .cotiza .info__venta--beneficios .listado li::marker {
        color: blueviolet; }
      .cotiza .info__venta--beneficios .listado__comentario {
        text-align: left !important;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: gray; }

.venta__auto {
  margin: 10px; }
  .venta__auto--titulo {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #226fe2; }
    .venta__auto--tituloadv {
      font-size: 16px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black; }
  .venta__auto--contacto {
    margin: 10px; }
  .venta__auto--botones {
    margin: 10px; }

/* NOSOTROS */
.portada--img {
  width: 100%;
  height: 400px; }

.titulo {
  padding-top: 30px; }

.nosotros__form {
  padding: 10px; }

.button__form {
  margin: 10px; }
  .button__form--color {
    background-color: black;
    color: white;
    padding: 9px 27px; }

.rrhh {
  padding-top: 20px; }
  .rrhh__trabaja {
    background-color: #a09f9f;
    padding-top: 10px;
    padding-bottom: 20px; }
    .rrhh__trabaja--img {
      padding-bottom: 10px; }

/* Navegacion */
.header__nav {
  background-color: #226fe2;
  /* background-image: linear-gradient(90deg, rgba(252,250,250,1) 0%, rgba(203,243,251,1) 41%, rgba(0,212,255,1) 57%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%);*/ }
  .header__nav .header__lista a {
    color: white; }
  .header__nav .header__lista a:visited {
    color: #4b17aa; }

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  color: white;
  background-color: black; }
  footer .footer__iconos {
    display: flex;
    width: 20px;
    height: 20px; }

* {
  margin: 0px;
  /* MARGEN EXTERNO */
  padding: 0px;
  /* MARGEN INTERNO */
  box-sizing: border-box;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none !important;
  /* Para que no aparezca el renglon abajo de los a */ }

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll; }

.info * {
  align-self: center;
  margin-bottom: 20px; }

.titulo {
  text-align: center; }

/* MEDIA QUERIE DE CELULAR */
/* SIEMPRE DEBE HABER UNA COLUMNA SI NO GALERIA CUADRICULADA QUE MAX ES 3 COLUMNAS*/
@media (max-width: 575px) {
  /* MODIFICADOR DE NAV */
  .header__nav {
    flex-direction: column; }
    .header__nav__lista {
      flex-direction: column;
      justify-content: center;
      line-height: 2rem;
      /* hace que las lineas de la nav queden separadas */
      align-items: center;
      flex-grow: 0; }
  /* VENDE TU AUTO */
  .vende {
    flex-direction: column;
    height: auto; }
  .info__venta, .info__venta--beneficios {
    padding: 2rem;
    padding-bottom: 3rem;
    gap: 10px; }
  .cotiza {
    flex-direction: column-reverse;
    height: auto; }
  .vende *, .cotiza * {
    width: 100%; }
  /* NOSOTROS */
  .rrhh__trabaja--img {
    display: none;
    /* Desaparezco la imagen */ } }

/* MEDIA QUERIE DE TABLET */
@media (max-width: 992px) {
  /* MODIFICADOR DE NAV */
  .header__nav {
    flex-direction: column; }
    .header__nav__lista {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 3; }
  /* INICIO */
  .inicio__destacado {
    grid-template-columns: 1fr; }
  .main__img--promos {
    width: 100%;
    height: auto; }
  .encabezado {
    flex-direction: column;
    height: auto; }
  .encabezado__img, .encabezado .info {
    width: 100%; }
  /* COMPRA TU AUTO */
  .img__auto {
    width: 100%; }
  .video__auto {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2; }
  .descrip__auto div {
    width: 100%; }
  /* VENDE TU AUTO */
  .vende {
    flex-direction: column;
    height: auto; }
  .info__venta, .info__venta--beneficios {
    padding: 2rem;
    padding-bottom: 3rem;
    gap: 10px; }
  .cotiza {
    flex-direction: column-reverse;
    height: auto; }
  .vende *, .cotiza * {
    width: 100%; } }
