/* Padding: Distancia entre el borde y el contenido//se le pone a las etiquetas p */
/* Margin: Distancia entre el borde y el afuera de la caja */
/* margin: UPpx; RIGHTpx; DOWNpx; LEFTpx; */
/* Padding: 4 coordenadas 0 0 0 0 // 16px */
/* box-sizing  */
/* VIERPORT WIDTH HEIGHT*/
/* VIERPORT WIDTH -> 100VW */
/* VIERPORT HEIGHT -> 100VH  */
*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
    box-sizing: border-box;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    text-decoration: none !important;/* Para que no aparezca el renglon abajo de los a */
}
body/* overflow-y: overlay sirve para que la barra se sobreponga overflow: scroll para poner barra */{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}
.header__nav/* justify flex end para que la barra este sobre la derecha */{
    background-color: rgb(34, 111, 226) !important;
    /* background-image: linear-gradient(90deg, rgba(252,250,250,1) 0%, rgba(203,243,251,1) 41%, rgba(0,212,255,1) 57%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%);*/
} 

.header__lista a{
    color: white;
}
.titulo{
    text-align: center;
}


/* INICIO */

.encabezado{
    display: flex;
    height: 50vh;
}
.encabezado__img{
    object-fit:cover;
    width: 50%;
}
.boton{
    font-family: sans-serif;/* Tipo de letra */
    background-color: black;/* Fondo del boton */
    color: white;/* Letra del contenido del boton */
    padding: 9px 27px;/* Acomodo el padding si no el boton queda chico */
    border-radius: 8px; /* Le pongo el borde mas redondo */
}
.boton:hover{
    background-image: linear-gradient(black,rgb(19, 18, 18)); /* Para que cuando tenga el mouse arriba le haga como un brillo */
    transform: scale(1.03,1.03); /* Forma de transformacion zoom hacia delante  */
    transition: all 0.5s;/* Tiempo de transicion */
}
.encabezado .info{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;/* space-between espacio entre los hijos// flex start hacia la izquierda(en el eje cross) */
    padding: 5rem;  
    width: 50%;  
}
.info *{
    align-self: center;
    margin-bottom: 20px;
}
.texto__destacado/* CAMBIAR TIPO DE LETRA- PENDIENTE */{
    font-family: sans-serif;/* Cambio la letra ya que tiene que ser llamativa */
    font-size: 40px;/* Para que las letras sean mas grandes y llamatavias */
    padding: 50px;/* Para que se separe del encabezado */
    background-color: rgb(34, 111, 226);
    margin-top: 10px;
    margin-bottom: 10px;
}
.texto__destacado:hover{
    transform: scale(1.03,1.03); /* Forma de transformacion zoom hacia delante  */
    transition: all 0.5s;/* Tiempo de transicion */
    font-size: 50px;/* Para que las letras sean mas grandes y llamatavias */
    padding: 50px;/* Para que se separe del encabezado */
    background-color: rgb(34, 111, 226);
    margin-top: 8px;
    margin-bottom: 8px;
}
.texto__destacado:hover{
    transform: scale(1.03,1.03);
}
.inicio__destacado{
    display: grid;/* Grid para poder separar en fracciones */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;/* Es el salto que da entre img y img */
    margin: 15px;
}
.inicio__destacado div{
     object-fit: cover;   
     width: 100%;
     height: auto;
}
.destacado__promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.main__img--promos{
    width: 350px;
    height: 150px;
}
/* aca va boostrap */

/* COMPRA TU AUTO */

.titulo__auto{
    background-color: rgb(34, 111, 226);
}
.descrip__auto/* flex para crear caja/row lo pone en vertical/wrap acomoda cuando se achica/justify evenly para alinear el salto entre ellos*/{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 20px;
    gap: 10px;
}
.descrip__auto div h5{
    text-align: center;
    font-size: 30px;
}
.descrip__auto span/* use display block para q sea un bloque*/{
    display: block;
}
.descrip__auto div/* use padding con rem para visual */{ 
    background-color: rgb(34, 111, 226);
    padding: 0.8rem;
}
.autos__venta--img/* seccion de las fotos de los autos a vender */{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.autos__venta--vid/* seccion videos de los autos a vender */{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.autos__venta--vid h5{
    text-align: center;
    font-size: 30px;
}
/* tamaño de los videos y fotos */
.img__auto/* imagen de los autos */{
    height: 400px; 
    width: 700px;
    object-fit: cover;
}
.video__auto/* video de los autos */{
    height: 400px;
    width: 700px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    color: white;
    background-color: rgb(0, 0, 0);
}
.footer__parrafo{
    display: flex;
}
.footer__img{
    display: flex;
    width: 20px;
    height: 20px;
}

/* VENDE TU AUTO */

.vende{
    display: flex;
    margin: 1rem;
    height: 50vh;
}
.info__venta{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem; 
}
.titulo__destacado{
    font-size: 25px;
}
.img__muestra,.img__compra{
    width: 60%;
    object-fit: cover;
}
.cotiza{
    display: flex;
    margin: 1rem;
    height: 50vh;
}
.info__venta--beneficios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem; 
}
.listado{
    font-size: 20px;
}
.listado li::marker{
    color: blueviolet;
}
.listado__comentario{
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;   
}

/* NOSOTROS */
.nosotros__form{
    padding: 10px;
}
.checkbox{
    margin-left: 23rem;
    margin-right: 23rem;
}
.button__form{
    margin: 10px;
}
.buttom_form--color{
    background-color: black;
    color: white;
    padding: 9px 27px;
}


/* MEDIA QUERIE DE CELULAR */
/* SIEMPRE DEBE HABER UNA COLUMNA SI NO GALERIA CUADRICULADA QUE MAX ES 3 COLUMNAS*/

@media (max-width: 575px){
    
    /* MODIFICADOR DE NAV */
    
    .header__nav{
        flex-direction: column;      
    }
    .header__lista /* list-style none para que no aparezca el punto de viñeta */{
        flex-direction: column; 
        justify-content: center;
        line-height: 2rem;/* hace que las lineas de la nav queden separadas */
        align-items: center;    
        flex-grow: 0; 
    }
    
    /* INICIO */
    
    .encabezado{
        flex-direction: column;/* ponemos en columna texto e imagen principal */
        height: auto; /*  */
    }
    .encabezado__img,.encabezado .info{
        width: 100%; /*  */
    }
    .inicio__destacado{
        grid-template-columns: 1fr; /* ponemos una sola columna de grids */
    }
    
    /* COMPRA TU AUTO */
    
    .img__auto{
        width: 100%;
    }
    .video__auto{
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
    }
    .descrip__auto div{
        width: 100%;
    }
    
    /* VENDE TU AUTO */
    
    .vende{
        flex-direction: column;
        height: auto;
    }
    .info__venta, .info__venta--beneficios{
        padding: 2rem;
        padding-bottom: 3rem;
        gap: 10px;
    }
    .cotiza{
        flex-direction: column-reverse;
        height: auto;
    }
    .vende *, .cotiza *{
        width: 100%;
    }
}

/* MEDIA QUERIE DE TABLET */

@media (max-width: 992px){
    
    /* MODIFICADOR DE NAV */
    
    .header__nav{
        flex-direction: column;    
    }
    .header__lista /* list-style none para que no aparezca el punto de viñeta */{
        flex-direction: column; 
        justify-content: center;
        align-items: center;    
        flex-grow: 3;   
    }

    /* INICIO */

    .inicio__destacado{
        grid-template-columns: 1fr;
    }
    .main__img--promos {
        width: 100%;
        height: auto;
    }
    .encabezado{
        flex-direction: column;
        height: auto;
    }
    .encabezado__img,.encabezado .info{
        width: 100%;
    }

    /* COMPRA TU AUTO */
    
    .img__auto{
        width: 100%;
    }
    .video__auto{
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
    }
    .descrip__auto div{
        width: 100%;
    }
    
    /* VENDE TU AUTO */
    
    .vende{
        flex-direction: column;
        height: auto;
    }
    .info__venta, .info__venta--beneficios{
        padding: 2rem;
        padding-bottom: 3rem;
        gap: 10px;
    }
    .cotiza{
        flex-direction: column-reverse;
        height: auto;
    }
    .vende *, .cotiza *{
        width: 100%;
    }

}