/* INFORMACION QUE PODEMOS REUTILIZAR TAMAÑO, LETRAS, COLORES */    
$color-principal: #226fe2; 
$color-secundario: black;
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* 1REM : 16px */