/* INICIO */

.encabezado{
    display: flex;
    height: 50vh;
    &__img{
        object-fit:cover;
        width: 50%;
    }
    .info{
        display: flex;  
        flex-direction: column;
        justify-content: space-between;/* space-between espacio entre los hijos// flex start hacia la izquierda(en el eje cross) */
        padding: 5rem;  
        width: 50%;  
    }
}
.boton{
    font-family: sans-serif;/* Tipo de letra */
    background-color: black;/* Fondo del boton */
    color: white;/* Letra del contenido del boton */
    padding: 9px 27px;/* Acomodo el padding si no el boton queda chico */
    border-radius: 8px; /* Le pongo el borde mas redondo */
    &:hover{
        background-image: linear-gradient(black,rgb(19, 18, 18)); /* Para que cuando tenga el mouse arriba le haga como un brillo */
        transform: scale(1.03,1.03); /* Forma de transformacion zoom hacia delante  */
        transition: all 0.5s;/* Tiempo de transicion */
    }
}

.texto__destacado/* CAMBIAR TIPO DE LETRA- PENDIENTE */{
    color: $color-secundario;
    font-family: sans-serif;/* Cambio la letra ya que tiene que ser llamativa */
    font-size: 40px;/* Para que las letras sean mas grandes y llamatavias */
    padding: 50px;/* Para que se separe del encabezado */
    background-color: $color-principal;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
        transform: scale(1.03,1.03); /* Forma de transformacion zoom hacia delante  */
        transition: all 0.5s;/* Tiempo de transicion */
        font-size: 50px;/* Para que las letras sean mas grandes y llamatavias */
        padding: 50px;/* Para que se separe del encabezado */
        background-color: $color-principal;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
/* RAZONES PARA COMPRAR */
.razones{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    &--comprar{
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        & span {
            color: white !important;
        }
    }
}

/* CAROUSEL Y PROMOS */

.carousel-item img{
    object-fit: cover;
    object-position: top;
    height: 500px;
}


.inicio__destacado{
    display: grid;/* Grid para poder separar en fracciones */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;/* Es el salto que da entre img y img */
    margin: 15px;
    &--promo{
        object-fit: cover;
        position: relative;   
        width: 100%;
        height: auto;
        &:hover .promo__img {
            opacity: 0.3;
        }
          
        &:hover .middle {
            opacity: 1;
        }
        .promo__img {
            opacity: 1;
            object-fit: cover;   
            width: 350px;
            height: 200px;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center; 
            .text {
                background-color: $color-principal;
                color: white;
                font-size: 16px;
                padding: 16px 32px;
            }
          }
   }

}
/* VENDE EN UN DIA */
.main__vende{
    display: flex;
    background-color: $color-principal;
    color: $color-secundario;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    &--position{
        position: relative;
        li{
            text-align: left;
        }
    }
    h3 {
        font-family: $font-principal;
        color: white;
        margin-top: 1rem;
    }
    li {
        list-style: none;
        margin-top: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }
    .boton{
        display: flex;
        margin-inline: auto;
        width: fit-content;
        margin-top: auto;
        padding: 12px 30px;
        border-radius: 8px;
    }
}
 

  

  

