/* VENDE TU AUTO */

.vende{
    display: flex;
    margin: 1rem;
    height: 50vh;
    .info__venta{
        display: flex;  
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem; 
    }
}
.titulo__destacado /* Titulo de ambas imagenes */{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $color-principal;
}
.img__muestra,.img__compra/* Medidas de las imagenes */{
    width: 60%;
    object-fit: cover;
}
.cotiza{
    display: flex;
    margin: 1rem;
    height: 50vh;
    .info__venta--beneficios{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem; 
        .listado{
            font-size: 20px;
            & li{
                text-align: left;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
            }
            & li::marker{
                color: blueviolet;
            }
            &__comentario{
                text-align: left !important;
                font-size: 16px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: gray;   
            }
        }   
    }
}
.venta__auto{
    margin: 10px;
    &--titulo{
        font-size: 25px;
        font-family:$font-titulos;
        color: $color-principal;
        &adv{
            font-size: 16px;
            font-family: $font-titulos;
            color: black;
        }
    }
    &--contacto{
        margin: 10px;
    }
    &--botones{
        margin: 10px;
    }
}


